
.property-editor {
    display: flex;
    box-sizing: border-box;
    background-color: grey;
    flex-direction: column;
    border-radius: 1rem;
    color: aliceblue;
    gap:1rem;
    width: 200px;
    height: 20rem;
    margin: 1.2rem;
    padding-left: 2rem;
    position: absolute; 
    top: 0; 
    right: 0; 
    padding: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); 
    z-index: 100; 
  }
  